@import '_reset';
@import '_variables';

@import 'buttons';
@import 'containers';
@import 'forms';
@import 'lists';
@import 'tables';
@import 'text';
@import 'video';

.showHalfScreen {
  display: inline-block;
  vertical-align: top;
  width: calc(50% - 1px);
}

.showFullScreen {
  max-width: 800px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

img {
  width: 100%;
}