@import '_reset';
@import '_variables';

@import 'buttons';
@import 'containers';
@import 'lists';
@import 'tables';
@import 'text';
@import 'video';

.showHalfScreen {
  display: inline-block;
  vertical-align: top;
  width: calc(50% - 1px);
}

.center {
  text-align: center;
}

textarea {
  box-sizing: border-box;
  outline: none;
  border: none;
  width: 100%;
  line-height: 40px;
  font-size: 18px;
}

.showFullScreen {
  max-width: 800px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

img {
  width: 100%;
}