@import '_reset';
@import '_variables';

@import 'buttons';
@import 'containers';
@import 'forms';
@import 'links';
@import 'menus';
@import 'tables';
@import 'text';
@import 'video';

.hidden {
  display: none;
}

img {
  width: 100%;
}