.button {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 50px;
  border: 1px solid black;
  outline: none;
  // Text
  font-size: 16px;
  font-family: arial;
  line-height: 22px;
  text-decoration: none;
  background-color: white;
  color: black;
}

.button:hover {
  background-color: black;
  color: white;
  transition: all 0.25s;
}

.button.small {
  font-size: 14px;
  line-height: 18px;
  padding: 4px 8px;
}

.button.blue {
  border: 1px solid $main-color;
  color: $main-color;
}

.button.blue:hover, .button.blue.selected {
  background-color: $main-color;
  color: white;
}

.button.red {
  border: 1px solid $red-color;
  color: $red-color;
}

.button.red:hover, .button.red.selected {
  background-color: $red-color;
  color: white;
}

.button.orange {
  border: 1px solid $orange-color;
  color: $orange-color;
}

.button.orange:hover, .button.orange.selected {
  background-color: $orange-color;
  color: white;
}

.button.green {
  border: 1px solid $green-color;
  color: $green-color;
}

.button.green:hover, .button.green.selected {
  background-color: $green-color;
  color: white;
}

input[type=submit].button {
  cursor: pointer;
}

// Fix wrong line-height for submit button in Firefox
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.buttons, .actions {
  .button {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.buttons.left, .actions.left {
  .button {
    margin-left: 0px;
    margin-right: 5px;
  }
}

.buttons.right, .actions.right {
  .button {
    margin-left: 5px;
    margin-right: 0px;
  }
}