.half-width {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

.full-width {
  max-width: 800px;
  margin: 0 auto;
}

.root-container {
  padding-top: $menu-height;
}

.admin-container {
  margin: 20px;
}

.article-container {
  max-width: 800px;
  margin: 0 auto;
  
  ul {
    list-style-position: inside;
    
    li {
      font-style: italic;
    }
    
    li:before {
      content: "•";
      padding-right: 5px;
    }
  }
  
  ol {
    list-style-type: decimal;
    list-style-position: inside;
    
    li {
      font-style: italic;
    }
  }
}

.articles-container {
  li {
    border-bottom: 1px solid $main-color;
  }
}