.half-width {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

.full-width {
  max-width: 800px;
  margin: 0 auto;
}

.admin-container {
  margin: 20px;
}

.article-container {
  max-width: 800px;
  margin: 0 auto;
}