textarea {
  box-sizing: border-box;
  outline: none;
  border: none;
  width: 100%;
  font-family: Raleway;
  font-size: 1em;
  line-height: 30px;
}

.form-group {
  margin-bottom: 20px;
  
  label {
    display: block;
    font-size: 0.75em;
    line-height: 0.75em;
  }
  
  input[type=text], input[type=password] {
    width: 100%;
    font-size: 0.75em;
    line-height: 1.2em;
  }
}

.form-group.employee-picture,
.form-group.testimonial-picture {
  img {
    position: relative;
    width: 120px;
    height: 120px;
    padding: 10px 0px;
    display: block;
    cursor: pointer;
  }
  
  img::after {
    content: '+';
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  input[type=file] {
    display: none;
  }
}

input[type=text].title {
  border: none;
  outline: none;
  text-align: center;
  font-family: PlayfairDisplay;
  font-weight: bold;
  font-style: normal;
  font-size: 1.5em;
  width: 100%;
  margin-bottom: 20px;
}

.login-form {
  max-width: 500px;
  margin: 0 auto;
}
