ul {
  list-style-position: inside;
  
  li {
    font-style: italic;
  }
  
  li:before {
    content: "•";
    padding-right: 5px;
  }
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
  
  li {
    font-style: italic;
  }
}