.menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  white-space: nowrap;
  overflow-x: auto;
  background-color: white;
  border-bottom: 2px solid $main-color;
  
  a {
    display: inline-block;
    line-height: $menu-height;
    padding-left: 20px;
    padding-right: 20px;
    
    &.active,
    &:hover {
      text-decoration: none;
      color: white;
      background-color: $main-color;
    }
  }
}
