table.admin,
table.employee-profile {
  width: 100%;
  
  thead, td {
    padding: 10px;
    text-align: left;
    vertical-align: middle;
  }
  
  thead {
    font-weight: bold;
    font-style: italic;
  }
  
  td {
    border: 1px solid #ddd;
    
    img {
      position: relative;
      width: 160px;
      height: 120px;
      display: block;
    }
    
    img.profile-picture {
      width: 120px;
      height: 120px;
    }
  }
  
  tr.new-article-image {
    img {
      cursor: pointer;
    }
    
    img::after {
      content: '+';
      font-size: 60px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
