// Title font
@font-face {
  font-family: PlayfairDisplay;
  font-weight: bold;
  font-style: normal;
  src: url('/fonts/playfair-display/bold.ttf');
}
@font-face {
  font-family: PlayfairDisplay;
  font-weight: bold;
  font-style: italic;
  src: url('/fonts/playfair-display/bold-italic.ttf');
}

// Text font
@font-face {
  font-family: Raleway;
  font-weight: normal;
  font-style: normal;
  src: url('/fonts/raleway/regular.ttf');
}
@font-face {
  font-family: Raleway;
  font-weight: normal;
  font-style: italic;
  src: url('/fonts/raleway/regular-italic.ttf');
}
@font-face {
  font-family: Raleway;
  font-weight: bold;
  font-style: normal;
  src: url('/fonts/raleway/bold.ttf');
}
@font-face {
  font-family: Raleway;
  font-weight: bold;
  font-style: italic;
  src: url('/fonts/raleway/bold-italic.ttf');
}

body {
  font-family: Raleway;
  font-size: 18px;
  line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  margin: 40px 0;
  font-family: PlayfairDisplay;
  font-weight: bold;
  font-style: italic;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.8em;
}

h6 {
  font-size: 0.7em;
}

p {
  margin: 20px 0;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

code {
  font-family: monospace;
}

pre {
  $padding: 20px;
  $border-width: 1px;
  padding: $padding;
  margin: 20px 0;
  width: calc(100% - 2*#{$padding} - 2*#{$border-width});
  border: $border-width dashed #2f6fab;
  background-color: #f9f9f9;
}